{% extends 'recipe_app/base_template.html' %}


{% block content %}

{% if recipe.recipe_image %}
<img src="{{ recipe.recipe_image.url }}" width = 500>
{% endif %}

<h2>Recipe for {{ recipe.name }}</h2>
<h3>User provided description: {{ recipe.short_desc }}</h3>

<h4>This recipes calls for: </h4>
<p>{{ recipe.ingredients }}<br /></p>

<h4>In order to create this</h4>

<p>{{ recipe.instruction }}</p>

<p>

    This recipe was submitted by 
    <a href = "{{ recipe.chef.get_absolute_url }}" title = "View {{recipe.chef}}'s profile">{{ recipe.chef  }}</a>

</p>



{% endblock %}




