{% extends 'recipe_app/base_template.html' %}




{% block content %}




<h2 class = "display-5">Our recipes:</h2>


<h4>Or, have a specific dish you're looking for? Try searching for it!</h4>


<input type = "text" id = "form1" placeholder = "Got something in mind?", aria-label = "Got something in mind?" >
<button id = "searchbutton" title = 'Search' onclick = "lookfor()">Search</button>
<button id = "clear button" title = "Clear Results" onclick = "document.getElementById('form1').value = ''; clearResults()">Clear Results</button>
</br>
</br>

<a href="{% url 'create_recipe' %}" title = "Create a new recipe">Upload New</a>

</br>
</br>


{% if recipe_list %}
<ul id = "myUL">
    
    {% for recipe in recipe_list %}
    <li>
        <a href = "{{ recipe.get_absolute_url }}" title = "{{recipe.name}}'s recipe">{{ recipe.name }}</a>
            <span class="pull-right">
                <a href="{% url 'update_recipe' recipe.id %}" type="button" class="btn btn-small btn-info">Update</a>
                <form action="{% url 'delete_recipe' recipe.id %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <input type="hidden" name="recipe_id" value="{{ recipe.id }}"/>
                        <button type="submit" class="btn btn-danger btn-small">Delete
                </button>
        </form>
     </span>
    </li>
    {% endfor %}
</ul>

{% else %}
<p>Looks like there aren't any recipes right now. Check back later.</p>
{% endif %}



<script>

function clearResults(){
    var input;
    input = document.getElementById('form1');
    input.value = "";
    document.getElementById("searchbutton").click();
}

function lookfor(){
    var input, filter, ul, li, a, i, txtValue;
    input = document.getElementById('form1');
    filter = input.value.toUpperCase();
    ul = document.getElementById("myUL");
    li = ul.getElementsByTagName('li');

    for (i = 0; i < li.length; i++){
        a = li[i].getElementsByTagName("a")[0];
        txtValue = a.textContent || a.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1){
            li[i].style.display = "";
        } else {
            li[i].style.display = "none";
        }
    }
}


var input = document.getElementById("form1");
input.addEventListener("keypress", function(event) {
  if (event.key === "Enter") {
    event.preventDefault();
    document.getElementById("searchbutton").click();
  }
});


</script>

{% endblock %}